---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Products from '../components/Products.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Tryon from '../components/Tryon.astro';
---

<Layout title="தமிழ்Teez - Premium Custom T-Shirt Printing & Sales">
  <Header />
  <main>
    <Hero />
    <Tryon />
    <Services />
    <Products />
    <!-- <About /> -->
    <Contact />
  </main>
  <Footer />
</Layout>