<section id="services" class="pt-28  bg-[#0f0f0f]">
  <div class="max-w-6xl mx-auto px-8 grid md:grid-cols-3 gap-20 text-center">

    <div>
      <p class="text-sm tracking-widest text-emerald-400 mb-4">FABRIC</p>
      <h3 class="text-2xl font-semibold mb-4">PREMIUM COTTON</h3>
      <p class="text-neutral-400">
        180+ GSM breathable fabric with a soft luxury finish
      </p>
    </div>

    <div>
      <p class="text-sm tracking-widest text-emerald-400 mb-4">PRINT</p>
      <h3 class="text-2xl font-semibold mb-4">WASH PROOF</h3>
      <p class="text-neutral-400">
        Long-lasting prints with fade-resistant inks
      </p>
    </div>

    <div>
      <p class="text-sm tracking-widest text-emerald-400 mb-4">CUSTOM</p>
      <h3 class="text-2xl font-semibold mb-4">MADE FOR YOU</h3>
      <p class="text-neutral-400">
        Your design, your brand, your statement
      </p>
    </div>

  </div>
</section>
